* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    border-color: red;
}

.main {
    background-color: white;
    width: 65%;
    height: 100%;
    margin: -4% auto;
    position: relative;
    border-radius: 3%;
    -webkit-border-radius: 3%;
    -moz-border-radius: 3%;
    -ms-border-radius: 3%;
    -o-border-radius: 3%;
}

.main .logo1 {
    z-index: 999;
    display: flex;
    justify-content: center;

}

.main .logo1 img {
    margin-top: -2%;
}

.main h1 {
    padding-top: 4%;
    text-align: center;
}

.main p {
    padding-top: 2%;
    text-align: center;
    font-size: 22px;
    color: #808080;
}

.centerbutton {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 4% 5%;
}

.centerbutton button {
background-color: #40bfb7;
color: white;
  border:white;
  width: 35%;
  font-size: 22px;
  border-radius: 10%/50%;
 
}

.centerbutton .s {
    width: 35%;
    background-color: #f2f2f2;
    border-radius: 0 25px;
    display: flex;
    align-items: center;
    -webkit-border-radius: 0 25px;
    -moz-border-radius: 0 25px;
    -ms-border-radius: 0 25px;
    -o-border-radius: 0 25px;
    border-radius: 10%/50%;


}

.centerbutton .s span {
    padding-left: 10%;

    font-size: 22px;
    color: #808080;
}




@media (max-width:768px) {
    .main .logo1 img {
        margin-top: -5%;
    }

    .main {
        width: 90%;
        margin-top: -100px;
    }
    .main h1{
        font-size:25px;
    }
    .main p{
        font-size:20px;
        line-height: 1.6;
    }

    .s {
        width: 15%;
        background-color: white;

    }

    .s img {
        width: 50px;
        padding-left:10% ;
    }

    .s span {
        display: none;
    }
    .centerbutton button {
        width: 110%;
        padding: 0 4%;
    }
    
}